@using Entity.ViewModels
@model List<BookViewModel>
@{
    ViewData["Title"] = "Index";
}

<div>
    
    
        @foreach (var book in Model)
    {
        <img src="@book.ImageUrl" />
        <p>@book.Name</p>
    }
    
</div>

