
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">İd</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>

<form asp-action="Index" method="post">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name" id="Name" name="Name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name" id="Author" name="Author">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="First name" id="Publisher" name="Publisher">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Last name" id="PageNumber" name="PageNumber">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name" id="BookCode" name="BookCode">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Oluştur</button>
</form>

